<!--
Pantalla RegistrarUsuario/index.html.erb
Autor  : Equipo Portal Ejecutivo-WebDesktop
Version: 1.0
Fecha  : Febrero del 2013
-->
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>:: Asignacion Equitativa de Vehiculos Ensamblados en Venezuela ::</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
			<meta name="keywords" content="" />
			<meta name="description" content="" />
			<!-- Incluya los javascripts: Extjs 4.1.1a y javascripts propios -->
			<script type="text/javascript" src="javascripts/extjs/ext-all-debug.js"></script>
			<!-- <script type="text/javascript" src="javascripts/principal/inicio.js"></script>
			<script type="text/javascript" src="javascripts/principal/login.js"></script> -->
			<script type="text/javascript" src="javascripts/principal/registrarusuario.js"></script>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=1.4.2"></script>

			<!-- Incluya hojas de estilos de: Extjs 4.1.1a y hojas de estilos propios -->
			<!-- <link rel="stylesheet" type="text/css" href="javascripts/extjs/resources/css/ext-all.css">
			<link rel="stylesheet" type="text/css" href="javascripts/extjs/resources/css/ext-all-access.css"> -->
			<link rel="stylesheet" type="text/css" href="javascripts/extjs/resources/css/ext-neptune.css">
			<link rel="stylesheet" type="text/css" href="stylesheets/estandar.css">
			<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	</head>

