<body>
<div id="header">
	<div id="menu">
	</div>
</div>
<div id="wrapper">

</div>
<div id="page">
 <div id="content">
	<div id="post">
	  <h2>Bienvenidos al Mis STC-CARGO VERSION 2</h2><br/>
      <p>Test del Cliente Multas x Placas usando el Servicio del INTT</p>
      <div align="center" class="h12d"><%=@mensajeplaca%>
       <p><a href='inicio'>Regresar</a></p>
      </div>

</div>
<div id="post">
	 <%= render :file => 'app/views/templates/twitter' %>
</div>
</div>
