<div id="footer">
    <div id="legal">&#169; 2007-2013 Responsable <a href="http://egonzale.org/9832/">Prof. Rodolfo Canelon</a><br/>
	<div>* Copyleft 2007-2013. Desarrollado por: <a href="http://egonzale.org/9832/" target="_blank">yiyi</a></div><br/>
 </div>
</body>
</html>