<body  data-spy="scroll" data-target=".bs-docs-sidebar">
	<div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <a class="breadcrumb" href="#">Registrarse</a>
          </button>
          <a class="brand" href="#">SI.A.E.V.E.V</a>
          <div class="nav-collapse collapse">
            <form class="navbar-form pull-right"name="autenticar" action="#" method="post">
              <a class="active"><span><a href="registrarusuario">Registrarse</a></span></a>
              <input class="span2" type="text" name="nombrelogin" placeholder="Usuario">
              <input class="span2" type="password"name="contrasena" placeholder="Contraseña">
              <button type="submit" class="btn" onclick="capturaUsuario()">Entrar</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
   	<header class="jumbotron subhead" id="overview">
		<div class="container">
			<img src="images/siaevev.png" class="img-rounded">
			<p class="lead">
				Sistema de Asignacion Equitativa de Vehiculos en Venezuela.
			</p>
		</div>
	</header>
	<div class="container">
		<div id="tree_el"></div>
		<div id="formularios"></div>
	</div>
</body>
</html>