<html>
<!-- 
	ejemplo10/index.html.erb
	Autor  : Edgar Gonzalez
    Version: 1.0 
    Fecha  : 14 de noviembre del 2012
-->
<head>
    <title>Introduccion a Extjs 4.1.1a: Ejemplo 10</title>
    
    <!-- Incluya los javascripts: Extjs 4.1.1a y javascripts propios -->
    <script type="text/javascript" src="javascripts/extjs/ext-all-debug.js"></script>
    <script type="text/javascript" src="javascripts/ejemplo10/ExtStart10.js"></script>
    
    <!-- Incluya hojas de estilos de: Extjs 4.1.1a y hojas de estilos propios -->
    <link rel="stylesheet" type="text/css" href="javascripts/extjs/resources/css/ext-all.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/ejemplosextjs/ExtStart.css">

</head>
<body>
 <h1>Introducci&oacute;n a Extjs 4.1.1a</h1>
 <div id="myDiv">Ejemplo de Manejo de Teclas</div>
 C&eacute;dula:
 <input type="text" id="cedula1" name="cedula" value="" />
</body>
</html>