<body>
<div id="header">
	
		<div id="tree_el"></div>
	
</div>
<div id="wrapper">

</div>
<div id="page">
 <div id="content">
	<div id="post">
	   <h2>Bienvenidos al Mis STC-CARGO VERSION 2</h2><br/>
       <h2>:::Opciones del Administrador</h2><br/>
        <div class="post">
            <p>Ud. puede realizar:</p>
            <ul>
              <li>-->Ir al Inicio del Menu Administrador</li>
              <li>-->Actualizar Datos del Administrador</li>
              <li>-->Actualizar Transportistas</li>
            <ul>
          </div>
        </div>
        <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
	</div>
</div>

</div>