<body>
<div id="header">
	<div id="menu">
	</div>
</div>
<div id="wrapper">

</div>
<div id="page">
 <div id="content">
	<div id="post">
			<h2>Bienvenidos al Mis STC-CARGO VERSION 2</h2><br/>
            <p>Este sitio le suministrar&aacute; la informaci&oacute;n de los transportistas</p> 
            <p>administrados por el Prof. Rodolfo Canelon.</p>
            <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
	</div>
</div>
<div id="post">
	 <%= render :file => 'app/views/templates/twitter' %>
</div>
</div>