       <h3>Twitter</h3>
        <!-- BEGIN: Custom advanced (www.jtricks.com) -->
        <script src="http://widgets.twimg.com/j/2/widget.js"></script><script>
         new TWTR.Widget({
           version: 2,
           type: 'profile',
           search: 'laboratorioiii',
           title: 'STC-CARGO',
           subject: 'Sistema de Transporte',
           interval: 3000,
           width: 200,
           height: 150,
           theme: {
            shell: {
            background: '#087FE7',
            color: '#ffffff'
            },
           tweets: {
            background: '#ffffff',
            color: '#81b7f0',
            links: '#eb9407'
           }
          },
          features: {
           scrollbar: false,
            loop: true,
            live: true,
            hashtags: true,
            timestamp: true,
            avatars: false,
            behavior: 'default'
          }
         }).render().setUser('laboratorioiii').start();
        </script><!-- END: Custom advanced (www.jtricks.com) -->