<body  data-spy="scroll" data-target=".bs-docs-sidebar">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="#">SI.A.E.V.E.V</a>
				<div class="nav-collapse collapse" id="autenticar">
					<!-- <form class="navbar-form pull-right" action="application/autenticar_usuario" method="post"> -->
					<div class="navbar-form pull-right"id="autenticar" >
					<div class="btn-group">
						<a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i><%= session[:nombre] %></a>
						<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a onclick=""><i class="icon-pencil"></i> Editar Cuenta</a></li>
							<li><a href="application/cerrarSession"><i class="i"></i> Salir</a></li>
						</ul>
					</div>
					</div>
					<!-- </form> -->
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<header class="jumbotron subhead" id="overview">
		<div class="container">
			<img src="images/siaevev.png" class="img-rounded">
			<p class="lead">
				Sistema de Asignacion Equitativa de Vehiculos en Venezuela.
			</p>
		</div>
	</header>
	<div class="container">
		<div id="tree_el"></div>
	</div>
	<div>
		<div id="viewRegistrar"></div>
	</div>
</body>
</html>