<body>
	<table border="2" bordercolor="#4682B4" style="background-color:7096A6" width="100%" cellpadding="3" cellspacing="3" aling="left">
		<tr>
			<td style="color:#4682B4; font-size:15px; font-weight: bold ">Bienvenido: Concesionario</td>
		</tr>
	</table>
	<div id="button" align= "left">
		<input name="button" type="button"onclick="window.close('concesionario');"onclick="window.open('inicio');" value="Cerrar Sesion"/>
	</div>
	<h1>Asignacion Equitativa de Vehiculos en Venezuela</h1>
	<div id="header">
		<div align="letf"><img src="images/AEVEV4.png"></div>
		<div id="tree_el"></div>
	</div>
	<div>
		<div id="viewRegistrar"></div>
	</div> 
</body>
