<body>
	<div style="float: left;">
			<img src="images/siaevev.png" class="img-rounded">
	
			<p class="lead">
				Sistema de Asignacion Equitativa de Vehiculos en Venezuela.
			</p>
	</div>	
</body>
</html>